<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.web.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.smart.web.entity.Banner">
    <!--@mbg.generated-->
    <!--@Table banner-->
    <id column="nav_id" jdbcType="BIGINT" property="navId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="creat_date" jdbcType="TIMESTAMP" property="creatDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    nav_id, title, img_url, url, `status`, `type`, `order`, creat_date, update_date
  </sql>
</mapper>