<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.web.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.smart.web.entity.Category">
        <!--@mbg.generated-->
        <!--@Table category-->
        <id column="cate_id" jdbcType="INTEGER" property="cateId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="creat_date" jdbcType="TIMESTAMP" property="creatDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        cate_id,
        `name`,
        `level`,
        `order`,
        `status`,
        parent_id,
        creat_date,
        update_date
    </sql>


    <!--    首页查询分类信息  -->
    <resultMap id="CategoryResultMap" type="com.smart.web.vo.CategoryVo">
        <id column="cate_id" jdbcType="INTEGER" property="cateId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <collection property="subCategoryList" resultMap="SubCategoryResultMap"/>
    </resultMap>

    <resultMap id="SubCategoryResultMap" type="com.smart.web.vo.CategoryVo">
        <id column="sub_cate_id" jdbcType="INTEGER" property="cateId"/>
        <result column="sub_name" jdbcType="VARCHAR" property="name"/>
        <result column="sub_level" jdbcType="INTEGER" property="level"/>
        <result column="sub_order" jdbcType="INTEGER" property="order"/>
        <result column="sub_status" jdbcType="INTEGER" property="status"/>
        <result column="sub_parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>
    <select id="selectList" resultMap="CategoryResultMap">
        SELECT c1.cate_id,
               c1.name,
               c1.level,
               c1.`order`,
               c1.parent_id,
               c2.cate_id   sub_cate_id,
               c2.name      sub_name,
               c2.level     sub_level,
               c2.`order`   sub_order,
               c2.status    sub_status,
               c2.parent_id sub_parent_id
        FROM category c1
                     LEFT JOIN category c2 ON c1.cate_id = c2.parent_id
        WHERE c1.parent_id = 0
          AND c1.status = 1
          AND c2.status = 1
    </select>
</mapper>